<div class="description">
 
        {{#each albums}}
    <h2>{{this.name}}</h2>
    <br />
    <a href=""><img src="{{this.image.2.url}}" alt="cover-album" width="100px" height="100px" /></a>
    <br />
    <a href="/tracks/{{this.id}}">View Tracks</a>
    </ul>
        {{/each}}


</div>