<div class="description">
    <h2>{{info.name}}</h2>
    <br />
    <a href=""><img src="{{info.image}}" alt="band" width="100px" height="100px" /></a>
    <br />
    <a href="/albums/{{info.id}}">View Albums</a>
    </ul>
</div>