<div>
  <form action="/artist-search" method="GET">
    <legend>Serch <b>your vive</b>:</legend>
    <input type="search" name="artist" placeholder="Search for a movie..." />
    <button type="submit">Search</button>
  </form>
</div>